/* line 1, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
* {
  font-family: 'Assistant', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

/* line 6, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #eee;
}

/* line 14, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
.symbols {
  font-family: 'WebSymbolsLigaRegular';
}

/* line 18, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
input.hidden,
button.hidden {
  display: none;
}

/* line 23, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
h3 {
  font-size: 0.9em;
  margin: 0;
}

/* line 28, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
.neumorph {
  background: #eeeeee;
  border-radius: 7px;
}

/* line 32, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
.neumorph .inside, .neumorph.inside {
  border-radius: 7px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.11), inset -5px -5px 10px rgba(255, 255, 255, 0.02);
}

/* line 40, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
.neumorph .outside, .neumorph.outside {
  border-radius: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.18), -5px -5px 10px white;
}

/* line 48, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
.neumorph .highlight {
  background: #9ccbf5;
  color: #fff;
}

/* line 54, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
header {
  background: #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 5px 10px #d1d1d1;
  margin: 10px;
  position: relative;
}

/* line 65, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
header h1 {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  margin: 0;
}

/* line 73, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
header ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: flex-start;
  gap: 10px;
  margin: 0;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

@media screen and (max-width: 400px) {
  /* line 73, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
  header ul {
    flex-direction: column;
  }
}

/* line 88, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
header ul li.choice {
  flex: 1;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  border-radius: 7px;
  background: #eee;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* line 103, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
header ul li.choice input, header ul li.choice select {
  max-width: 100px;
  font-size: 1em;
  border: none;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 3px;
}

/* line 114, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
header .meal {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

/* line 120, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
header .meal h3 {
  margin: 0.5em 0;
  flex: 0.2;
}

/* line 125, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
header .meal ul {
  flex-direction: row;
}

/* line 129, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
header .meal li {
  box-sizing: border-box;
  font-size: 0.9em;
}

/* line 133, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
header .meal li label {
  height: 20px;
  width: 20px;
  text-transform: capitalize;
  transition: all 0.25s ease-out;
  cursor: pointer;
  background: rgba(156, 203, 245, 0);
  display: block;
  padding: 5px;
  text-align: center;
  border-radius: 7px;
}

/* line 147, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
header .meal li input:checked + label {
  background: #9ccbf5;
  color: #fff;
  box-shadow: none;
  border-radius: 7px;
}

/* line 159, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
.zone-buttons {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  position: sticky;
  top: 28px;
  height: 0px;
  align-items: center;
}

/* line 168, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
.zone-buttons #reset {
  width: 36px;
  height: 36px;
  text-align: center;
  border: 2px solid #fff;
  border: none;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.18);
}

/* line 181, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
#main-container {
  color: #111;
}

/* line 186, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
#main-container .days {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

/* line 192, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
#main-container .days .day {
  flex: 1;
  min-height: 30vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* line 200, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
#main-container .days .day h2 {
  margin: 0;
  padding: 10px;
  display: inline-block;
  font-size: 1em;
  text-transform: uppercase;
}

/* line 208, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
#main-container .days .day .meals {
  flex: 1;
  display: inherit;
  flex-direction: inherit;
  overflow: hidden;
}

/* line 214, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
#main-container .days .day .meals .meal {
  flex: 1;
  padding: 10px;
  background: #fff;
  border-bottom: 1px dashed #000;
  display: flex;
  align-items: baseline;
  gap: 10px;
}

/* line 223, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
#main-container .days .day .meals .meal:last-child {
  border: none;
}

/* line 227, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
#main-container .days .day .meals .meal .title {
  flex: 1;
}

/* line 230, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
#main-container .days .day .meals .meal .title h3 {
  display: inline-block;
  padding: 5px 10px;
}

/* line 236, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
#main-container .days .day .meals .meal .content {
  flex: 3;
}

/* line 239, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
#main-container .days .day .meals .meal .content select {
  font-size: 1em;
  width: 100%;
  appearance: none;
  transition: all 0.25s ease-out;
  border: 1px solid transparent;
  white-space: normal;
  background: #fff;
}

/* line 248, F:/wamp/www/git-repos/menu-generator/scss/style.scss */
#main-container .days .day .meals .meal .content select:hover {
  border: 1px solid #000;
}

/*# sourceMappingURL=../css/style.map */