* {
  font-family: 'Assistant', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #eee;
  justify-content: center;
}

.symbols {
  font-family: 'WebSymbolsLigaRegular';
}

input.hidden,
button.hidden {
  display: none;
}

h3 {
  font-size: 0.9em;
  margin: 0;
}

.neumorph {
  background: #eeeeee;
  border-radius: 7px;

  .inside, 
  &.inside,
  // input:checked + label.outside 
  {
    border-radius: 7px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.11), inset -5px -5px 10px rgba(255,255,255,.02);
  }

  .outside, 
  &.outside,
  // input:checked + label.inside 
  {
    border-radius: 7px;
    box-shadow:  5px 5px 10px rgba(0,0,0,.18), -5px -5px 10px rgba(255,255,255,1);
  }

  .highlight {
    background: rgba(156,203,245,1);
    color: #fff;
  }

  button {
    border-radius: 50% !important;
    box-shadow:  5px 5px 2px rgba(0,0,0,.18) !important;
  }
 }

header {

  background: #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 5px 10px #d1d1d1;
  margin: 10px;
  position: relative;

  h1 {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-start;
    gap: 10px;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;

    @media screen and (max-width: 400px) {
      flex-direction: column;
    }

    li.choice {
      flex: 1;
      text-align: center;
      // border: 1px solid #000;
      border-radius: 3px;
      padding: 10px;
      border-radius: 7px;
      background: #eee;
      font-size: 0.8em;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      

      input, select {
        max-width: 100px;
        font-size: 1em;
        border: none;
        padding: 3px;
        box-sizing: border-box;
        border-radius: 3px;
      }
    }
  }

}

.filters {
  background: #eee;
  margin: 10px;
  padding: 20px;
  position: sticky;
  top: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;

  .meal {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;

    h3 {
      margin: 0.5em 0;
      flex: 0.2;
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      justify-content: flex-start;
      gap: 10px;
      margin: 0;
      align-items: center;
      flex-wrap: wrap;
      flex: 1;
      flex-direction: row;
    }

    li {
      box-sizing: border-box;
      font-size: 0.9em;

      label {
        height: 20px;
        width: 20px;
        text-transform: capitalize;
        transition: all 0.25s ease-out;
        cursor: pointer;
        background: rgba(156, 203, 245, 0);
        display: block;
        padding: 5px;
        text-align: center;
        border-radius: 7px;
      }

      input:checked {
        + label {
          background: rgba(156,203,245,1);
          color: #fff;
          box-shadow: none;
          border-radius: 7px;
        }
      }
    }
  }
}

.zone-buttons {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  height: 0px;
  align-items: flex-start;
}

button {
  width: 36px;
  height: 36px;
  text-align: center;
  border: 2px solid #fff;
  border: none;
  z-index: 1;
  border-radius: 50%;
  box-shadow:  5px 5px 2px rgba(0,0,0,.18);
}


#main-container {
  // flex: 1;
  // overflow-y: auto;
  color: #111;

  .days {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

    .day {
      flex: 1;
      min-height: 30vh;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        margin: 0;
        padding: 10px;
        display: inline-block;
        font-size: 1em;
        text-transform: uppercase;
      }

      .meals {
        flex: 1;
        display: inherit;
        flex-direction: inherit;
        overflow: hidden;

        .meal {
          flex: 1;
          padding: 10px;
          background: #fff;
          border-bottom: 1px dashed #000;
          display: flex;
          align-items: baseline;
          gap: 10px;

          &:last-child {
            border: none;
          }

          .title {
            flex: 1;
            align-self: flex-start;
            
            h3 {
              display: inline-block;
              padding: 5px 10px;
            }
          }

          .content {
            flex: 3;

            select {
              font-size: 1em;
              width: 100%;
              appearance: none;
              transition: all 0.25s ease-out;
              border: 1px solid transparent;
              white-space: normal;
              background: #fff;
              min-height: 1.8em;
              padding: 3px;

              option {
                background: #fff;
              }

              &:hover {
                // appearance: auto;
                border: 1px solid #000;
              }
            }
          }
        }
      }
    }
  }
}