* {
  font-family: 'Assistant', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #eee;
  max-width: 1000px;
  margin: auto;

  section {
    display: inherit;
    flex-direction: inherit;
    justify-content: center;
    flex: 1;
  }

  footer {
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;

    div {
      align-items: center;
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 10px 30px 10px 10px;
      border-radius: 40px !important;
      font-size: 0.8em;
    }

    @media print {
      display: none;
    }
  }

  @media print {
    width: 20cm;
    margin: auto;
  }
}

.symbols {
  font-family: 'WebSymbolsLigaRegular';
}

input.hidden,
button.hidden {
  display: none;
}

h3 {
  font-size: 0.9em;
  margin: 0;
}

#header {
  justify-content: center;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  #user-block {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .buttons {
      display: flex;
      flex-direction: column;

      button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
          font-family: 'Nunito Sans', sans-serif;
          right: 100%;
          position: absolute;
          color: #111;
          white-space: nowrap;
          margin: 0 10px;
          content: attr(data-text);
          text-transform: capitalize;
          line-height: 1.5em;
          padding: 0 10px;
          border-radius: 10px;
          box-shadow: inherit;
        }
      }
    }
  
    &.guest {
      .user {
        color: rgba(0,0,0,.1);
      }
    }

    .user {
      font-size: 32px;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: block;
      overflow: hidden;
      text-align: center;
      border: 2px solid #fff;
      color: rgba(0,0,0,.5);
    }

    #user-id {
      text-transform: capitalize;
    }
  }

  #user-management {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .user-block {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .action-titles-container {
        display: flex;
        gap: 10px;
  
        h2 {
          flex: 1;
          margin: 0;
          font-size: 0.8em;
          text-align: center;
          text-transform: uppercase;
          font-weight: 400;
          padding: 5px;
        }
      }

    }

    .user-block {
      .block {
        display: flex;
        gap: 10px;
        align-items: center;

        label {
          flex: 1.1;
          font-size: 0.9em;
        }

        input {
          flex: 2;
          border: none;
          padding: 3px;
          font-size: 1em;
        }
      }
    }

    #error-message {
      color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;

      button {
        width: auto;
        border-radius: 7px !important;
        padding: 0 10px;
      }

      .hidden {
        display: none;
      }
    }

    .buttons {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      height: 0;
      overflow: visible;
      position: relative;
      z-index: 1;
      top: 10px;

      .button-holder {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }


  }

}

.neumorph {
  background: #eeeeee;
  border-radius: 7px;

  @media print {
    background: #fff;
  }
  .inside, 
  &.inside,
  // input:checked + label.outside 
  {
    border-radius: 7px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.11), inset -5px -5px 10px rgba(255,255,255,.02);
  }

  .outside, 
  &.outside,
  // input:checked + label.inside 
  {
    border-radius: 7px;
    box-shadow:  5px 5px 10px rgba(0,0,0,.18), -5px -5px 10px rgba(255,255,255,1);
  }

  .highlight {
    background: rgba(156,203,245,1);
    color: #fff;
  }

  button {
    border-radius: 50% !important;
    // box-shadow:  5px 5px 2px rgba(0,0,0,.18) !important;
  }
 }

header {

  background: #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 5px 10px #d1d1d1;
  margin: 10px;
  position: relative;

  h1 {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-start;
    gap: 10px;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;

    li.choice {
      flex: 1;
      text-align: center;
      // border: 1px solid #000;
      border-radius: 3px;
      padding: 10px;
      border-radius: 7px;
      background: #eee;
      font-size: 0.8em;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      input, select {
        max-width: 100px;
        font-size: 1em;
        border: none;
        padding: 3px;
        box-sizing: border-box;
        border-radius: 3px;
      }

      select {
        max-width: 70px;
        padding: 4px;
        appearance: none;
        -webkit-appearance: none;
        background: #fff; 
      }
    }
  }

}

.filters {
  background: #eee;
  margin: 10px;
  padding: 20px;
  position: sticky;
  top: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: center;

  #filters-wrapper {
    display: flex;
    gap: 10px;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;

    .meal {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 10px;
      flex-wrap: nowrap;

      h3 {
        margin: 0.5em 0;
        flex: 1;
        white-space: nowrap;
      }

      ul {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: flex-start;
        gap: 10px;
        margin: 0;
        align-items: center;
        flex: 7.7;
        flex-direction: row;
      }

      li {
        box-sizing: border-box;
        font-size: 0.9em;

        label {
          height: 20px;
          width: 20px;
          text-transform: capitalize;
          transition: all 0.25s ease-out;
          cursor: pointer;
          background: rgba(156, 203, 245, 0);
          display: block;
          padding: 5px;
          text-align: center;
          border-radius: 7px;
        }

        input:checked {
          + label {
            background: rgba(156,203,245,1);
            color: #fff;
            box-shadow: none;
            border-radius: 7px;
          }
        }
      }
    }

  }


}

.zone-buttons {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  height: 0px;
  align-items: flex-start;
  font-size: 15px;
}

button {
  width: 2.4em;
  height: 2.4em;
  line-height: 2.4em;
  text-align: center;
  border: 2px solid #fff;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;

  &.logout {
    text-indent: 0.15em;
  }

  &.hide {
    visibility: hidden;
    pointer-events: none;
  }

  span {
    font-family: inherit;
    font-size: 1.5em;
  }

  &#reset {
    box-shadow:  5px 5px 2px rgba(0,0,0,.18);
    font-size: 1em;
  }
}


#main-container {
  // flex: 1;
  // overflow-y: auto;
  color: #111;

  .days {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;


    .day {
      flex: 1;
      // min-height: 30vh;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;



      h2 {
        margin: 0;
        padding: 10px;
        display: inline-block;
        font-size: 1em;
        text-transform: uppercase;
      }

      .meals {
        flex: 1;
        display: inherit;
        flex-direction: inherit;
        overflow: hidden;

        .meal {
          flex: 1;
          padding: 10px;
          background: #fff;
          // border-bottom: 1px dashed #000;
          border-bottom: 10px solid #eee;
          display: flex;
          align-items: baseline;
          gap: 10px;

          &:last-child {
            border: none;
          }

          .title {
            flex: 1;
            align-self: flex-start;
            
            h3 {
              display: inline-block;
              padding: 5px 10px;
            }
          }

          .dish {
            display: flex;
            gap: 10px;

            &[data-type="veggies"]:first-child {
              .hide {
                display: none;
              }
            }

            .select-wrapper {
              flex: 1;
              position: relative;
              display: flex;
              box-shadow: 0 0 1px rgba(0, 0, 0, .5);
              align-self: baseline;

              &:after {
                content: '{';
                font-family: 'WebSymbolsLigaRegular';
                position: absolute;
                z-index: 1;
                right: 0;
                display: flex;
                align-items: center;
                font-size: 1.3em;
                pointer-events: none;
                width: 1.6rem;
                justify-content: center;
                height: 1.6rem;

                @media print {
                  display: none;
                }
              }
            }

            .buttons {
              display: flex;
              gap: 10px;
              flex-direction: column;
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: 10px;


            select {
              font-size: 1em;
              width: 100%;
              appearance: none;
              -webkit-appearance: none;
              transition: all 0.25s ease-out;
              border: 1px solid transparent;
              white-space: normal;
              background: #fff;
              min-height: 1.8em;
              padding: 3px;
              padding-right: 1.6rem;
              flex: 1;

              @media print {
                border: none;
              }

              option {
                background: #fff;
              }

              &:hover {
                // appearance: auto;
                border: 1px solid #000;
              }
            }
          }
        }
      }
    }
    
    @media print, screen and (min-width: 800px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .day {
        min-width: 40%;
        max-width: 50%;
        min-height: 0;
        
        h2 {
          margin: 0;
          padding: 10px;
          display: inline-block;
          font-size: 1em;
          text-transform: uppercase;
        }

        .meals {

          .meal {
            
            &:last-child {
              border: none;
            }

            .title {
              
              h3 {
                
              }
            }

            .dish {
              
              div {
                &:after {
                }
              }
            }

            .content {

              select {
                border: none;

                option {
                  background: #fff;
                }

                &:hover {
                }
              }
            }
          }
        }
      }
    }
  }
}

#popin-menus {
  position: fixed;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  background: #fff;
  z-index: 3;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  overflow: auto;

  header, 
  footer {
    height: auto;
    padding: 0;
  }

  header {
    background: none;
    border: none;
    background: none;
    box-shadow: none;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: rgba(255,255,255,0.8);
    padding: 10px 20px;
    margin: 0 -10px;

    div {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      border-radius: 50px;
      padding: 5px;
    }
  }

  section {
    flex: 1;
  }

  .categories {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    max-height: 100%;
    box-sizing: border-box;
    overflow: auto;

    .category {
      margin: 0;
      display: flex;
      flex-direction: column;

      > button {
        display: none;
        align-self: center;
      }

      ul {
        display: none;
        flex-direction: column;
        padding: 10px 10px 0 20px;
        margin: 0;

        li {
          display: flex;
          align-items: center;
          border-bottom: 1px dashed #000;
          padding: 10px 0;
          gap: 10px;

          &[data-origin-dish=""] {
            button.undo {
              display: none !important;
            }
          }

          &.to-delete {
            div {
              text-decoration: line-through;
            }
          }

          &:last-child {
            border: none;
          }

          div {
            flex: 1;
            padding: 1px 2px;
            font-size: 1em;
            border: none;

            &[contenteditable="true"] {
              box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  
              &:focus,
              &:focus-visible, {
                outline: none;
                box-shadow: 0 0 1px rgba(156, 203, 245, 1);
              }
            }

          }

          .hidden {
            display: none;
          }
        }
      }

      input:checked {
        & + .category-title-container {
          .toggle-category {
            &:after {
              content: '}';
            }
          }
        }

        & ~ ul {
          display: flex;
        }

        & ~ button {
          display: block;
        }

      }

      .category-title-container {
        border-radius: 40px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;

        .toggle-category {
          font-size: 1em;
          width: 1.6em;
          height: 1.6em;
          line-height: 1.6em;
          text-align: center;
          border: 2px solid #fff;
          border: none;
          border-radius: 50%;
          box-sizing: border-box;
          padding: 0;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          background: #eee;
          color: #222;

          &:after {
            content: '{';
          }
        }

        .category-title {
          margin: 0 10px;
          font-size: 1em;
          font-weight: 400;
        }
      }
    }
  }


}



@media print {
  input, button {
  display: none;
  }

  header {
    padding: 0;
  }

  header ul,
  .filters {
    display: none;
  }

  .days {
    .day {
      
      h2 {
      }

      .meals {

        .meal {
          
          &:last-child {
          }

          .title {
            
            h3 {
              
            }
          }

          .dish {
            
            div {
              box-shadow: none;

              &:after {
                display: none;
              }
            }
          }

          .content {

            select {
              border: 0;
              box-shadow: none;

              &:focus {
                border: none;
              }

              option {
                background: #fff;
              }

              &:hover {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}